@media all and (max-width: 400px) {
	ul{
		margin-left: -29px;
	}
	.fb-comments {
		width: 320px !important;
		margin-top: 5px !important;
		margin-bottom: 20px !important;
	}
	#mainImage{
		height: 165px;
		margin-bottom: 15px;
		margin-top: 10px;
		border-width: 7px;
		background-size: auto 114%;
		background-position: 18% 48%;
		width: 95%;
		background-image: url('../img/HenryNicole380.png'); 	
	}
	#mainimage > div:first-child{
		top: 10%;
		left: 9%;
		padding: 1px;
		font-size: 1.3em;
	}
	#mainimage > div:nth-child(3){
		top: 18%;
		left: 9%;
		padding: 1px;
		font-size: 1.2em;
	}
	#mainimage > div:nth-child(5){
		padding: 1px;
		top: 88px;
		left: 11%;
		font-size: 0.7em;
	}
	
	#aboutUs{
		clear: both;
	}
	#meetHenry, #meetNicole, #theWedding, #aboutUs {
		width: 48.6666666666667%;
		background-repeat: no-repeat;
	}
	
	#meethenry {
		background-size: auto 116%;
		background-position: center 41%;
	}
	
	#meetNicole, #theWedding{
		margin-right: 0px;
		float: right;
	}
	
	#allBoxes{
		height: 120px;
	}
	
	#allBoxes.moveaway, #mainimage.moveaway{
		transform: translate(0px,-183px);
		-ms-transform: translate(0px,-183px); /* IE 9 */
		-webkit-transform: translate(0px,-183px); /* Safari and Chrome */
		-o-transform: translate(0px,-183px); /* Opera */
		-moz-transform: translate(0px,-183px); /* Firefox */
		
		-webkit-transition:-webkit-transform 1.0s ease-in-out;
		-moz-transition:-moz-transform 1.0s ease-in-out;
		-o-transition:-o-transform 1.0s ease-in-out;
		-ms-transition:-ms-transform 1.0s ease-in-out;	
		transition:transform 1.0s ease-in-out;
	}
	
	#mainstagetext {
		margin-bottom: 8px;
	}
	
	#gallery > div {
		float: left;
		width: 48%;
		height: 135px;
		margin:1%;
	}	
	
	#gallery > div:last-child{
		display:block;
	}
	
	.image0{
		background-image: url('../gallery/thumb0.jpg');
		background-size: auto 100%; 
	}	
	
	.image1{
		background-image: url('../gallery/thumb1.jpg');
		background-size: auto 100%; 
	}
	
	.image2{
		background-image: url('../gallery/thumb2.jpg');
		background-size: auto 100%; 
	}	
	
	.image3{
		background-image: url('../gallery/thumb3.jpg');
		background-size: auto 100%; 
	}	
	
	.image4{
		background-image: url('../gallery/thumb4.jpg');
		background-size: 100%; 
	}	
	
	.image5{
		background-image: url('../gallery/thumb5.jpg');
		background-size: auto 100%; 
	}	
	
	.image6{
		background-image: url('../gallery/thumb6.jpg');
		background-size:  100%; 
	}	
	
	.image7{
		background-image: url('../gallery/thumb7.jpg');
		background-size: auto 100%; 
	}	
	
	.image8{
		background-image: url('../gallery/thumb8.jpg');
		background-size:  100%; 
	}	
	
	.image9{
		background-image: url('../gallery/thumb9.jpg');
		background-size:  100%; 
	}	
	
   #meetHenry,#meetNicole,#TheWedding,#AboutUs{
		border-width: 5px;
		margin-bottom: 13px;
		height: 100px;
   }
   
   #partialOcean,#Oceanview, #swimOut{
		width: 94%;
		margin: 3%;
		margin-bottom: 0%;
		height: 150px;
	}
	
	#swimOut{
		margin-bottom: 3%;
	}
	
   #partialOcean > span,#Oceanview > span, #swimOut > span{
		background-size: auto 100%; 
		margin-bottom: 0%;
		height: 21px;
		text-align: right;
	}
   
   #henrypicture1 {
		background-image: url('../img/henrypicture1-300h.jpg');
		height: 250px;
		width: 100%;
		background-size: 100% auto;
		float:none;
	}
	
   #nicolepicture1 {
		background-image: url('../img/nicolepicture1-300h.jpg');
		height: 250px;
		width: 100%;
		background-position: center -35px;
		float:none;
	}
	
   #mainstage > span {
   	display:block;
		width: 100%;
		position: static;
		font-size: .8em;
		box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
		padding: 5px;
		opacity: 1;
		margin-top:5px;
	}
	
   #nicolepicture1 > span {
   	display:block;
		width: 100%;
		position: static;
		font-size: .8em;
		box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
		padding: 5px;
		opacity: 1;
		margin-top:5px;
	}
	
	#mainStage{
		margin-top: 5px;
		width: 94%;
		margin-left: 3%;
	}
	
	#imageFramebuttons{
		right :0px;
	}
	
	#theWeddingstageButtons{
		width: 280px;
		margin: auto;
	}
	
	#theWeddingstageButtons > span{
		width: 33.3333333333%;
		font-size: .7em;
	}	
	
	#meethenry > span, #meetnicole > span, #aboutus > span, #thewedding > span {
		font-size: .9em;
		height: 16px;
		margin-top: 4px;
	}
}

@media all and (max-width: 600px) and (orientation: landscape)  {
	#imageframe[data-orientation="landscape"] {
		background-size: 100% auto;
		width:100%;
		height:129%
	}
	
	#imageframe[data-orientation="portrait"] {
		width:100%;
		height: 129%;
		background-size: auto 100%;
	}
	#aboutUs{
		background-position: 48% center;
		background-size: auto 120%;
	}
}

@media all and (max-width: 600px) and (orientation: portrait)  {
	#imageframe[data-orientation="landscape"] {
		background-size: 100% auto;
	}
	
	#imageframe[data-orientation="portrait"] {
		width: 100%;
		height: 117%;
		background-size: 100% auto;
	}
}	
