@media all and (max-width: 1275px) {
	.fb-comments span:first-child{
		width: 100% !important;
		margin-left:0%;
	}	
	
	#mainimage {
		max-width: 960px;
/* 		background-image: url('../img/HenryNicole925.png'); */
		background-position: 75% 0%;
		height: 407px;
		width: 94%;
	}
  
	#mainimage > div:nth-child(3){
		left: 16%;
		padding: 1px;
	}
	#mainimage > div:nth-child(5){
		padding: 1px;
		font-size: 1em;
		top: 180px;
		left: 16%;
	}
	
	#allBoxes.moveaway, #mainimage.moveaway{
		transform: translate(0px,-425px);
		-ms-transform: translate(0px,-425px); /* IE 9 */
		-webkit-transform: translate(0px,-425px); /* Safari and Chrome */
		-o-transform: translate(0px,-425px); /* Opera */
		-moz-transform: translate(0px,-425px); /* Firefox */
		
		-webkit-transition:-webkit-transform 1.0s ease-in-out;
		-moz-transition:-moz-transform 1.0s ease-in-out;
		-o-transition:-o-transform 1.0s ease-in-out;
		-ms-transition:-ms-transform 1.0s ease-in-out;	
		transition:transform 1.0s ease-in-out;
	}
	
	#mainimage > div{
		position:relative;
	}
   
	#allBoxes{
	   	padding-bottom: 40px;
	}
   
	#allBoxes, #fbcomments{
	   	max-width: 960px;
		width:94%;
		height: 183px;
		
		-webkit-transition: -webkit-transform 1.0s ease-in-out;
		-moz-transition: -moz-transform 1.0s ease-in-out;
		-o-transition: -o-transform 1.0s ease-in-out;
		-ms-transition: -ms-transform 1.0s ease-in-out;	
		transition: transform 1.0s ease-in-out;
   }
   
	#fbcomments{
		float:left;
	}
   
   #meetHenry,#meetNicole,#TheWedding,#AboutUs{
/*  margin-bottom: 20px; */
   	border-style: solid;
	border-width: 7px;
	overflow: hidden;
	border-color: #f9f9f9;
	height: 145px;
	width:20.5%;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
   }
   
   iframe{
	   width: 943px !important;
   }
   
	#aboutUs,#meetHenry,#meetNicole{
		margin-right: 6%;
		float:left;
	}
   	
/* #allBoxes > div:nth-child(-n+3) > div{
  	 	background-color: white;
		width: 100%;
		height:100%;
		margin:auto;
		transition-property:  background-position 225ms ease-out;
		-moz-transition-property: background-position 225ms ease-out;
		-webkit-transition-property: background-position 225ms ease-out;
		-o-transition-property: background-position 225ms ease-out;
		background-size: 100% 100%;
   }
*/
   #meetNicole{
   	background-image: url('../img/NicoleFace.png');
   	background-position: center center;
   	background-size: auto 131%;
   }
   #meetHenry{
   	background-image: url('../img/HenryFace.png');
   	background-position: center center;
   	background-size: auto 100%;
   }
   #aboutUs{
   	background-image: url('../img/AboutUs.png');
   	background-position: 55% center;
   	background-size: auto 104%;
   }
   #theWedding{
   	background-image: url('../img/TheWedding.png');
   	background-position: center center;
   }
	.slowTransition{
		-webkit-transition:-webkit-transform 200ms ease-in-out;
		-moz-transition:-moz-transform 200ms ease-in-out;
		-o-transition:-o-transform 200ms ease-in-out;
		-ms-transition:-ms-transform 200ms ease-in-out;	
		transition:transform 200ms ease-in-out;
	}
	#mainStage.moveaway{
		height: 415px;
		opacity:1;
	}
	#mainStage.bringback{
		height: 0px;
		opacity: 0;
	}
	#pictureFrame{
		width:40%;
		float:left;
	}
	#mainStage{
		width: 100%;
		float:left;
	}
	#henrypicture1{
		background-image: url('../img/henrypicture1-420h.jpg');
		height: 420px;
		width:100%;
		background-position: 100%; 
	}
	#nicolepicture1{
		background-image: url('../img/nicolepicture1-420h.jpg');
		height: 420px;
		width:100%;
		background-position: 0%; 
	}
	.nicolepicture1{
		top: 10px;
		width: 48%;
		font-size: .9em;
	}
	.henrypicture1{
		width: 38%;
		right: 3%;
		top: 20px;
		font-size: .85em;
		max-height: 400px;
	}
	
	#mainStage{
		margin-left:0px;
	}
	#imageFrame[data-orientation="landscape"]{
		background-size: 100% auto;
	}

#imageFrame[data-orientation="portrait"]{
	}
}

@media all and (max-width: 1275px) {
	#henrypicture1{
		background-position: 100%; 
	}
	#nicolepicture1{
		background-position: 8%; 
	}
}

@media all and (max-width: 925px) {
	.image0{
		background-image: url('../gallery/thumb0.jpg');
		background-size: 100% auto; 
	}	
	
	.image1{
		background-image: url('../gallery/thumb1.jpg');
		background-size: 100% auto; 
	}
	
	.image2{
		background-image: url('../gallery/thumb2.jpg');
		background-size: 100% auto; 
	}	
	
	.image3{
		background-image: url('../gallery/thumb3.jpg');
		background-size: 100% auto; 
	}	
	
	.image4{
		background-image: url('../gallery/thumb4.jpg');
		background-size: 100%; 
	}	

	.image5{
		background-image: url('../gallery/thumb5.jpg');
		background-size: 100% auto; 
	}	

	.image6{
		background-image: url('../gallery/thumb6.jpg');
		background-size:  100%; 
	}	

	.image7{
		background-image: url('../gallery/thumb7.jpg');
		background-size: 100% auto; 
	}	

	.image8{
		background-image: url('../gallery/thumb8.jpg');
		background-size:  100%; 
	}	

	.image9{
		background-image: url('../gallery/thumb9.jpg');
		background-size:  100%; 
	}	
	
	#henrypicture1{
		background-position: 73%; 
	}
	
	.henrypicture1{
		font-size: .75em;
		width: 45%;
		right: 1%;
		top: 20px;
	}
	#gallery > div {
		float: left;
		width: 30%;
		height: 130px;
		margin:1%;
	}	
	
	#imageFrame[data-orientation="landscape"]{
		background-size: 100% auto;
	}

	#imageFrame[data-orientation="portrait"]{
		background-size: auto 100%; 
	}
	#nicolepicture1{
		background-position: 20%; 
	}
	.nicolepicture1{
		font-size:.8em;
	}
}

@media all and (max-width: 678px) {
	#mainimage{
		height: 300px;
		background-image: url('../img/HenryNicole700.png');
	/* 	border: 10px solid blue; */
		background-position: 28% 0%;
		background-size: auto 100%;
	}
	
	#allBoxes.moveaway,#mainimage.moveaway{
		transform: translate(0px,-320px);
		-ms-transform: translate(0px,-320px); 
		-webkit-transform: translate(0px,-320px); 
		-o-transform: translate(0px,-320px); 
		-moz-transform: translate(0px,-320px); 

	}

	#meethenry, #meetnicole, #thewedding, #aboutus{
		height: 115px;
		border-width: 4px;
		width: 23%;
	}
	
	#meethenry, #meetnicole, #aboutus{
		margin-right: 2.66666666666667%;
	}
	
	#aboutus{
		background-size: auto 100%;
	}

	#nicolepicture1{
		background-position: 34%; 
	}
	.nicolepicture1{
		font-size: .7em;
	}
	#mainimage > div:first-child,#mainimage > div:nth-child(3) {
		left: 3%;
	}
	#mainimage > div{
		font-size: 2em;
		left: 8%;
	}
	
	#meetHenry > span,#meetNicole > span,#aboutUs > span,#theWedding > span{
		font-size: .718em;
		height: 13px;
   }
}

/*
@media all and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	#picture1.henry{
		background-image: url('../img/henrypicture1-420h@2x.png');
		background-size: 633px 420px; 
	}
}
*/